.banner {
  color: #F6BF03;
  background-color: #f7e327;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: #F6BF03;
  border: 0.1rem solid #F6BF03;
}

.button:focus, .button:hover,
button:focus,
button:hover,
input[type='button']:focus,
input[type='button']:hover,
input[type='reset']:focus,
input[type='reset']:hover,
input[type='submit']:focus,
input[type='submit']:hover {
  background-color: #6D6B61;
  border-color: #8E8C7F;
  color: #fff;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
  background-color: transparent;
  color: #6D6B61;
  border: 0.1rem solid #F6BF03;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: .6rem 1.0rem;
  width: 100%;
}

input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
textarea:focus,
select:focus {
  border-color: #FEFF5A;
}
