
/*
Pallete: https://www.schemecolor.com/volcanic-turnaround.php
light 8E8C7F
text 6D6B61
black 333333
yellow F6BF03
highlight FEFF5A
*/
html, body {
  background-color: #333333;
  color: #6D6B61;
}

a {
  color: #F6BF03;
}
